*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.info{
    max-width: 300px;
    width: 100%;
    background-color: gray;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.257);
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    // margin: 0 auto;
    padding: 30px;
    color: white;
    h3{
        color: goldenrod;
    }
    li{
        margin-top: 10px;
    }

    span{
        background-color: goldenrod;
    }
}

.wrapper{
    max-width: 350px;
    width: 100%;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.756);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: relative;

    .three-btns{
        max-width: 80px;
        width: 100%;
        position: absolute;
        top: 7px;
        left: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .exit-btns{
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
        }

        .red{
            background-color: crimson;
        }

        .yellow{
            background-color: orange;
        }   

        .green{
            background-color: limegreen;
        }
    }
}

form{
    max-width: 100%;
    width: 100%;
    height: 120px;
    padding: 15px 0 0 0;

    input{
        width: 100%;
        padding: 30px 20px 10px 20px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 38px;
        color: white;
        cursor:not-allowed;
        text-align: right;
      

        
    }
}

.functions{
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    height: 340px;
    background-color: rgba(128, 128, 128, 0.791);
    color: white;
    font-size: 30px;
    font-weight: 500;
    user-select: none;

    .main-func{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;

        .btn-func{
            width: 25%;
            height: 25%;
            border: .5px solid rgba(0, 0, 0, 0.642);
            display: flex;
            align-items: center;
            justify-content: center;

            &:active{
                background-color: gray;
            }
        }
    }

    .gray-style{
        background-color: rgba(48, 48, 48, 0.759);
    }
    .orange-style{
        background-color: rgb(255, 150, 45);

        &:active{

            box-shadow: inset 0 0 20px 35px rgba(255, 166, 0, 0.758);
        }
    }

    .bottom-btns{
        width: 100%;
        height: 20%;
        display: flex;

        .btn-zero{
            width: 50%;
            height: 100%;
            border: .5px solid rgba(0, 0, 0, 0.642);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-last{
            width: 25%;
            height: 100%;
            border: .5px solid rgba(0, 0, 0, 0.642);
            display: flex;
            align-items: center;
            justify-content: center;
        }   
    }
}

.calculator-opener{
    width: 50px;
    height: 50px;
    position: absolute;
    img{
        width: 100%;
        height: 100%;
    }
}